
html, body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  color:#222222;
}


/*  Front page index.html, big image and title formatting - much of this is not even used...  */


.title {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.0em;
  color:#ffffff;
}


.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color:#ffffff;
}

.introvid {
  opacity:75%;
  /* width: 100vw; */
  width: auto;
  height: 66vh;
  object-fit: cover;
  padding: 0px;
}

.title_container {
  background-color: #000;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.video_wrapper {
  background-color: #000;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_title_container {
  position:absolute;
}

.image_overlay {
  opacity:40%;
  width: auto;
  /* width: 100vw; */
  height: 66vh;
  object-fit: cover;
  padding: 0px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.social {
  height: 40px;
  padding: 5px;
  opacity: 0.5;
  display: inline-block;
}

.social:hover {
  opacity: 1.0;
}

.photo:hover{
  color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */

}



/* General formatting in pages */

.tablecaption {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-style: italic;
  color:#555555;
  text-align: center;
  float: center;
  width: 80%;
  margin: auto;
  margin-bottom: 8px;
  margin-left: auto; 
  margin-right: auto;
  z-index: 1;
}

.BLimgs {
  border: 4px solid #cccccc;
  margin: 20px 20px 20px 100px;
  text-align: center;
  float: center;
  margin: auto;
  margin-left: auto; 
  margin-right: auto;
  z-index: 1;
}

.decorimage {
  float: right; 
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.0em;
}

h2 {
  font-size: 2.0em;
  margin: 15px;
 }

.content {
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
  /* was margin-left: 70px; */
  left: 15px;
  position: static;
  top: 12px;
  text-align: left;
  align: left;
  margin-top: 0px;
  z-index: 1;
}

.frontpageformatfiddle {
  margin-top: 0px;
}




/* top left menu bar formatting...  */

/* the leftmenubar contains the menuicon at the top, followed by the menuitems */

.menuicon {
  position: relative;
  top: 0px;
  text-align: left;
  margin-left: -40px;
  color: #333333;
  text-decoration: none; 
/*  The following height command, and in the thin window .leftmenubar definition, puts a bit of space between the BL icon and the top menu item */
  height: 50px;
  padding-bottom: 5px;
}

.menuicon a {
  text-decoration: none;
}

.menuitems {
    background: rgba(255,255,255,0.9);
/*  background-color: #ffffff;  */
/*  width: 160px;    ....makes hr in left menu appear all the time.   */
}

.menuitems a {
  color: #333333;
  text-decoration: none;
  font-size: 1.0em;
  opacity:  1.0;
  z-index: 9;
  align: left;
  text-align: left;
}


.leftmenubar {
  position: relative;
  width: 225px;
  opacity:  1.0;
  z-index: 9;
  float: left;
  background-color: #ffffff;
  margin-bottom: 0px;
}

.leftmenubar a {
  color: #333333;
  text-decoration: none
}

.leftmenubar a:hover {
  color: #000000;
  font-weight: bold;
}








/* This is for the big menu images in the front index.html page */

.menuimage {
  position: relative;
  align: left;
  text-align: left;
  float: left;
/*  margin: 10px;  */
  margin: 8px; 
}

.menuimage img {
/*  height: 320px;  */
/*  width: 320px;  */
  height: 240px;  
  width: 240px;
  opacity: 0.7;
}

.menuimage img:hover {
  opacity: 1.0;
}

.menuimagetext {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  color:#ffffff;
  text-color: white;
  text-decoration: none; 
  
  position: absolute; /* Position the background text */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */

/*   width: 300px;  */
/*   height: 20px;  */
/*   padding-bottom: 40px;  */
/*   bottom: 0px; */
/*   padding-left: 20px;  */
/*   left: 0px;  */ 
/*   font-size: 2.0em; */
  
   width: 225px;
   height: 15px;
   padding-bottom: 30px;
   bottom: 4px;
   padding-left: 15px;  
   left: 0px; 
   font-size: 1.5em;
  
}

.menuimagetext h3 {
  padding-top: 0px;
/*  margin-top: 10px;  */
  margin-top: 6px;
}

.menuimagetext a {
  color:#ffffff;
  text-color: white;
  text-decoration: none; 
}







/* If the screen is narrow, either on a computer of a phone, then the following formatting tweaks it accordingly */

@media screen and (max-width: 800px) {
  
  .leftmenubar { 
    z-index: 0;
    /*  The following height command hides the entire left menu when the window is thin.  If it's not defined, the menu appears on top of the text throughout */
    height: 55px;
    margin-left: 0px;
    padding-left: 0px;
    left: 15px;
    /*  width: 225px;  */
    /* width: 335px; */
    width:  100%;
  }
   
  .leftmenubar a {
    display: none;
    float: none;
    opacity: 1.0;
  }
  
  .leftmenubar a.icon {
    display: block;
    text-color: black;
  }
  
  .leftmenubar.responsive {
    position: relative;
/*    background-color: #ffffff;  */
    background: rgba(255,255,255,0.9);
 /*   opacity: 1.0; */
    z-index: 9;
  }
  
  .leftmenubar.responsive a {
    float: none;
    display: block;
  }
  
  
 .leftmenubar table, tbody, tr, td {
   border-spacing: 0px;
   left: 0px;
   padding-left: 0px;
   margin-left: 0px;
   height: 0px;
   width: 0px;
  }
  
  .menuicon {
  margin-left: 0px;
  }
  
  .menuitems {
    background: rgba(255,255,255,1.0);
  }
  
  h1, h2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}
  
  h3 {margin-top: 0px; }
   
  .content {
    margin-left: 0px;
    padding-left: 18px;
    margin-top: 25px;
  }
  
  .menuimage img {
    height: 160px;  
    width: 160px;
    opacity: 1.0;
  }
  
  .menuimagetext {
    width: 150px;
   height: 10px;
   padding-bottom: 20px;
   bottom: 2px;
   padding-left: 10px;  
   left: 0px; 
   font-size: 1em;
}

.menuimagetext h3 {
   font-size: 1em;
}
  
  

}  /*  End of narrow window formatting.  */



/* Also, if the page is narrow, change the front index.html image accordinly */

@media screen and (max-width: 600px) {  
  .decorimage {
    float: none;
    align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

