.w3-content {max-width:500px; margin: 10px auto; }

.mySlides {width: 100%;} /**/

.mySlides {display: none; vertical-align: middle; }

#myslideFrame{text-align: center; font-size:0;min-height:100%; font-size:0; text-align: center;position:relative;}

#myslideFrame:before, .flexbox > div:before {content: ""; height: 100%; vertical-align: middle; width: 0; background: red; display: inline-block;}

 

.flexbox {

display: flex;

flex-wrap: wrap;

margin: 2% 0 !important;

}

.flexbox > div{

flex: 1;

vertical-align: middle;

font-size:0;

}

 

.flexbox > div img {vertical-align: middle;}

 

.w3-left, .w3-right, .w3-badge {cursor:pointer}

.w3-badge {height:13px;width:13px;padding:0}

 
